@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <div class="row">
        <div id="contact-text-wrapper" class="col m6">
            <div id="contact-text-container">
                <div>
                    28860 Outer Rd S<br />
                    Macon, MO 65332<br />
                    <abbr title="Phone">P:</abbr>
                    555.555.5555
                </div>
                <p>Operating Hours:</p>
                <p>MON-SAT: 8AM - 11PM</p>
                <p>SUN: 8AM - 8PM</p>
            </div>
        </div>

        <div class="col m6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.6979585892495!2d-92.50743828462436!3d39.7464350794487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c2b3aaf78229f7%3A0x5546c588c37fedc5!2s28860+Outer+Rd+S%2C+Macon%2C+MO+63552!5e0!3m2!1sen!2sus!4v1520789804630" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
        </div>
    </div>
</div>


